.main {
  margin: 10px;
  padding: 5px;
  background-color: lightblue;
}
.sub {
  margin: 10px;
  padding: 20px;
  background-color: #ffffff;
}
.sub3 {
  margin: 10px;
  padding: 10px;
  background-color: #ffffff;
  height: 400px;
}
.imglogo {
  width: 100%;
}
.prodimg {
  width: 100px;
  height: 110px;
}
.prodcard {
  height: 300px;
}
.srch {
  font-size: 25px;
  width: 100%;
  margin-top: 15px;
  border-radius: 20px;
  padding-left: 10px;
  border: 1px solid grey;
}
.btncat {
  margin: 5px !important;
  margin-top: 15px !important;
  margin-left: 10px !important;
}
.chatitem {
  border: 5px solid darkolivegreen;
  margin: 10px;
  padding: 10px;
}
.chattext {
  width: 100%;
  background-color: white;
  margin-top: 10px !important;
}
a {
  text-decoration: none;
  font-size: 15px;
  font-weight: bold;
  color: darkred;
}
button {
  margin-top: 20px !important;
}
